@using Store.Application.Services.Users.Command.Site.SignUpUser;
@model RequestSignUpUserDto;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
	<!--=====================================
				META TAG PART START
	=======================================-->
	<!-- REQUIRE META -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- AUTHOR META -->
	<meta name="author" content="mironcoder">
	<meta name="email" content="mironcoder@gmail.com">
	<meta name="profile" content="https://themeforest.net/user/mironcoder">

	<!-- TEMPLATE META -->
	<meta name="name" content="Greeny">
	<meta name="title" content="Greeny - eCommerce HTML Template">
	<meta name="keywords" content="organic, food, shop, ecommerce, store, html, bootstrap, template, agriculture, vegetables, webshop, farm, grocery, natural, online store">
	<!--=====================================
				META-TAG PART END
	=======================================-->
	<!-- WEBPAGE TITLE -->
	<title>Greeny - Register</title>

	<!--=====================================
				CSS LINK PART START
	=======================================-->
	<!-- FAVICON -->
	<link rel="icon" href="/SiteTemplate/assets/imag/favicon.png">
	<link rel="stylesheet" href="/SiteTemplate/Library/toastify-js/toastify.min.css" />
	<!-- FONTS -->
	<link rel="stylesheet" href="/SiteTemplate/assets/fonts/flaticon/">
	<link rel="stylesheet" href="/SiteTemplate/assets/fonts/icofont/icofont.min.css">
	<link rel="stylesheet" href="/SiteTemplate/assets/fonts/fontawesome/fontawesome.min.css">

	<!-- /SiteTemplate/assets/vendor -->
	<link rel="stylesheet" href="/SiteTemplate/assets/vendor/venobox/venobox.min.css">
	<link rel="stylesheet" href="/SiteTemplate/assets/vendor/slickslider/slick.min.css">
	<link rel="stylesheet" href="/SiteTemplate/assets/vendor/niceselect/nice-select.min.css">
	<link rel="stylesheet" href="/SiteTemplate/assets/vendor/bootstrap/bootstrap.min.css">

	<!-- CUSTOM -->
	<link rel="stylesheet" href="/SiteTemplate/assets/css/main.css">
	<link rel="stylesheet" href="/SiteTemplate/assets/css/user-auth.css">
	<link rel="stylesheet" href="/SiteTemplate/assets/css/persian-datepicker.min.css" />
	<link href="/SiteTemplate/assets/css/custom-toastify.css" rel="stylesheet" />
	<link href="/SiteTemplate/library/toastify-js/toastify.min.css" rel="stylesheet" />
	<link href="/SiteTemplate/library/toastify-js/toastify.css" rel="stylesheet" />
	<!--=====================================
				CSS LINK PART END
	=======================================-->
</head>
<body>
	<!--=====================================
				USER FORM PART START
	=======================================-->
	<section class="user-form-part">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-sm-10 col-md-12 col-lg-12 col-xl-10">
					<div class="user-form-logo">
						<a href="index.html"><img src="/SiteTemplate/assets/images/logo.png" alt="logo"></a>
					</div>
					<div class="user-form-card">
						<div class="user-form-title">
							<h2>عضو خانواده بزرگ فروشگاه ما شوید!</h2>
							<p>ثبت نام شما تنها چند دقیقه زمان می برد.</p>
						</div>
						<div class="user-form-group">
							<ul class="user-form-social">
								<li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i>ورود با استفاده از فیسبوک</a></li>
								<li><a href="#" class="twitter"><i class="fab fa-twitter"></i>ورود با استفاده توییتر</a></li>
								<li><a href="#" class="google"><i class="fab fa-google"></i>ورود با استفاده از گوگل</a></li>
								<li><a href="#" class="instagram"><i class="fab fa-instagram"></i>ورود با استفاده از اینستاگرام</a></li>
							</ul>
							<div class="user-form-divider">
								<p>یا</p>
							</div>
							<form id="UserForm" class="user-form">
								<div class="form-group">
									<input asp-for="FullName" required type="text" class="form-control" placeholder="لطفا نام کامل را وارد کنید" >
									<span class="text-danger" asp-validation-for="FullName"></span>
								</div>
								<div class="form-group">
									<input asp-for="Email" required type="email" class="form-control" placeholder="لطفا ایمیل خود را وارد کنید" >
									<span class="text-danger" asp-validation-for="Email"></span>
								</div>
								<div class="form-group">
									<input asp-for="Mobile" required type="text" class="form-control" placeholder="لطفا موبایل خود را وارد کنید"  >
									<span class="text-danger" asp-validation-for="Mobile"></span>
								</div>
								<div class="form-group">
									<input asp-for="Password" required type="text" class="form-control" placeholder="لطفا رمز خود را وارد کنید" >
									<span class="text-danger" asp-validation-for="Password"></span>
								</div>
								<div class="form-group">
									<input asp-for="RePassword" required type="text" class="form-control" placeholder="لطفا تکرار رمز خود را وارد کنید" >
									<span class="text-danger" asp-validation-for="RePassword"></span>
								</div>
								<div class="form-check mb-3">
									<input class="form-check-input" type="checkbox" value="" id="check">
									<label class="form-check-label" for="check">قبول تمام <a href="#">قوانین و شرایط استفاده</a></label>
								</div>
								<div class="form-button">
									<button type="submit">ثبت نام</button>
								</div>
							</form>
						</div>
					</div>
					<div class="user-form-remind">
						<p>از قبل عضو هستید؟<a href="~/authentication/login">وارد شوید</a></p>
					</div>
					<div class="user-form-footer">
						<p>Greeny | &COPY; Copyright by <a href="#">MRzic</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--=====================================
				USER FORM PART END
	=======================================-->
	<!--=====================================
				JS LINK PART START
	=======================================-->
	
	<!-- /SiteTemplate/assets/vendor -->
	
	<script src="/SiteTemplate/assets/vendor/bootstrap/jquery-1.12.4.min.js"></script>
	<script src="/SiteTemplate/assets/vendor/bootstrap/popper.min.js"></script>
	<script src="/SiteTemplate/assets/vendor/bootstrap/bootstrap.min.js"></script>
	<script src="/SiteTemplate/assets/vendor/countdown/countdown.min.js"></script>
	<script src="/SiteTemplate/assets/vendor/niceselect/nice-select.min.js"></script>
	<script src="/SiteTemplate/assets/vendor/slickslider/slick.min.js"></script>
	<script src="/SiteTemplate/assets/vendor/venobox/venobox.min.js"></script>
	
	<!-- CUSTOM -->
	<script src="/SiteTemplate/assets/js/nice-select.js"></script>
	<script src="/SiteTemplate/assets/js/countdown.js"></script>
	<script src="/SiteTemplate/assets/js/accordion.js"></script>
	<script src="/SiteTemplate/assets/js/venobox.js"></script>
	<script src="/SiteTemplate/assets/js/slick.js"></script>
	<!--=====================================
				JS LINK PART END
	=======================================-->
	 <link href="~/SiteTemplate/assets/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/SiteTemplate/assets/Sweetalert2/sweetalert2.min.js"></script>
	<script src="~/SiteTemplate/assets/js/jquery.js"></script>
	<script src="~/SiteTemplate/Library/jquery-validate/jquery.validate.min.js"></script>
	<script src="~/SiteTemplate/Library/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
	<script src="~/SiteTemplate/Library/toastify-js/toastify.min.js"></script>
	<script src="~/SiteTemplate/assets/js/main.js"></script>
	<script src="~/SiteTemplate/Library/jquery-validate/localization/messages_fa.min.js"></script>

	<script>
		$('#UserForm').on("submit", function (e) {
			event.preventDefault();
			if ($(this).valid()) {
				let elementItems = e.target;
				let FullName = elementItems.FullName.value
				let Mobile = elementItems.Mobile.value
				let Email = elementItems.Email.value
				let Password = elementItems.Password.value
				let RePassword = elementItems.RePassword.value
				var data = {
					FullName, Mobile, Email, Password, RePassword
				}
				//ajax request
				ajaxFunc("SignUp", data, "POST",
					function (result) {
						if (result.isSuccess){
							Toastify({
								text: result.message,
								className: "success",
								duration: 3000,
								style: {
									background: "linear-gradient(to right, #00b09b, #96c93d)",
								}
							}).showToast();
							setTimeout(function () {
								window.location.replace("/");
							}, 2000)
						} else {
							Toastify({
								text: result.message,
								className: "success",
								duration: 3000,
								style: {
									background: "linear-gradient(to right, #00b09b, #96c93d)",
								}
							}).showToast();
						}
					},
					function (error) {
						Toastify({
							text: result.message,
							className: "success",
							duration: 3000,
							style: {
								background: "linear-gradient(to right, #00b09b, #96c93d)",
							}
						}).showToast();
						
					}
				)
			}

		});
	</script>
</body>
</html>
		

