@using Store.Application.Services.UsersAddress.Queries.GetEditAddressUserForSite;
@model EditAddressUserDto;
@{
    Layout = null;
}
<label class="form-label">انتخاب استان</label>
<select onchange="changeProvinceEdit('@Model.IdEditAddress')" asp-for="Province" asp-items="ViewBag.EditProvince"  class="input-province-edit form-select">
</select>
<input asp-for="IdEditAddress" type="hidden" />