@using Store.Application.Services.FileManager.Queries.ListDirectory;
@using Store.Common.Constant.FileTypeManager;
@model List<FileItem>;
@{
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section Head
	{
	<link rel="stylesheet" href="/AdminTemplate/assets/css/persian-datepicker.min.css" />
	<link rel="stylesheet" href="/AdminTemplate/Library/toastify-js/toastify.min.css" />
}
<!-- BEGIN: Content -->
<div class="content">

	<div class="grid grid-cols-12 gap-6 mt-8">
		<div class="col-span-12 lg:col-span-3 xxl:col-span-2">
			<h2 class="intro-y text-lg font-medium mr-auto mt-2">
				مدیریت فایل
			</h2>
			<!-- BEGIN: File Manager Menu -->
			<div class="intro-y box p-5 mt-6">
				<div class="mt-1">
					<a href="" class="flex items-center px-3 py-2 rounded-md bg-theme-1 text-white font-medium"> <i class="w-4 h-4 ml-2" data-feather="image"></i> تصاویر </a>
					<a href="" class="flex items-center px-3 py-2 mt-2 rounded-md"> <i class="w-4 h-4 ml-2" data-feather="video"></i> ویدئوها </a>
					<a href="" class="flex items-center px-3 py-2 mt-2 rounded-md"> <i class="w-4 h-4 ml-2" data-feather="file"></i> سندها </a>
					<a href="" class="flex items-center px-3 py-2 mt-2 rounded-md"> <i class="w-4 h-4 ml-2" data-feather="users"></i> اشتراک </a>
					<a href="" class="flex items-center px-3 py-2 mt-2 rounded-md"> <i class="w-4 h-4 ml-2" data-feather="trash"></i> سطل آشغال </a>
				</div>
			</div>
			<!-- END: File Manager Menu -->
		</div>
		<div class="col-span-12 lg:col-span-9 xxl:col-span-10">
			<!-- BEGIN: File Manager Filter -->
			<div class="intro-y flex flex-col-reverse sm:flex-row items-center">
				<div class="w-full sm:w-auto relative ml-auto mt-3 sm:mt-0">
					<button onclick="goToRoot()" class="btn btn-elevated-secondary w-24 ml-1 mb-2">ریشه اصلی</button>
					<button id="backToDirectory" onclick="BackToListDirectoty()" class="d-none btn btn-primary w-24 inline-block ml-1 mb-2">بازگشت</button>
				</div>
				<div class="w-full sm:w-auto flex">
					<button id="remove-files" class="d-none btn btn-danger w-32 ml-2 mb-2"> <i data-feather="trash" class="w-4 h-4 ml-2"></i>حذف</button>
					<button onclick="uploadSelect()" class="btn btn-primary shadow-md ml-2">بارگذاری فایل های جدید</button>
					<div class="dropdown">
						<button class="dropdown-toggle btn px-2 box text-gray-700 dark:text-gray-300" aria-expanded="false">
							<span class="w-5 h-5 flex items-center justify-center"> <i class="w-4 h-4" data-feather="plus"></i> </span>
						</button>
						<div class="dropdown-menu w-40">
							<div class="dropdown-menu__content box dark:bg-dark-1 p-2">
								<button id="CreateDirectory"  class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="folder" class="w-4 h-4 ml-2"></i>افزودن پوشه</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END: File Manager Filter -->
			<div class="progress h-3 rounded mt-3 d-none">
				<div class="progress-bar w-3/4 bg-theme-1 rounded" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
			<!-- BEGIN: Directory & Files -->
			<div id="directory-item" class="intro-y grid grid-cols-12 gap-3 sm:gap-6 mt-5">
				<div class="intro-y col-span-12 sm:col-span-12 md:col-span-12 2xl:col-span-12">
					<div class="col-span-12 sm:col-span-12 xl:col-span-12 flex flex-col justify-end items-center">
						<svg width="30" viewBox="0 0 45 45" xmlns="http://www.w3.org/2000/svg" stroke="rgb(45, 55, 72)" class="w-8 h-8">
							<g fill="none" fill-rule="evenodd" transform="translate(1 1)" stroke-width="3">
								<circle cx="22" cy="22" r="6" stroke-opacity="0">
									<animate attributeName="r" begin="1.5s" dur="3s" values="6;22" calcMode="linear" repeatCount="indefinite"></animate>
									<animate attributeName="stroke-opacity" begin="1.5s" dur="3s" values="1;0" calcMode="linear" repeatCount="indefinite"></animate>
									<animate attributeName="stroke-width" begin="1.5s" dur="3s" values="2;0" calcMode="linear" repeatCount="indefinite"></animate>
								</circle>
								<circle cx="22" cy="22" r="6" stroke-opacity="0">
									<animate attributeName="r" begin="3s" dur="3s" values="6;22" calcMode="linear" repeatCount="indefinite"></animate>
									<animate attributeName="stroke-opacity" begin="3s" dur="3s" values="1;0" calcMode="linear" repeatCount="indefinite"></animate>
									<animate attributeName="stroke-width" begin="3s" dur="3s" values="2;0" calcMode="linear" repeatCount="indefinite"></animate>
								</circle>
								<circle cx="22" cy="22" r="8">
									<animate attributeName="r" begin="0s" dur="1.5s" values="6;1;2;3;4;5;6" calcMode="linear" repeatCount="indefinite"></animate>
								</circle>
							</g>
						</svg>
						<div class="text-center text-xs mt-2">لطفا منتظر بمانید...</div>
					</div>

				</div>
			</div>
			<!-- END: Directory & Files -->
		</div>
	</div>
</div>
<!-- END: Content -->
@section Scripts{
		<link href="~/AdminTemplate/assets/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
	<script src="~/AdminTemplate/assets/Sweetalert2/sweetalert2.min.js"></script>
	<script src="~/AdminTemplate/assets/js/jquery.js"></script>
	<script src="~/AdminTemplate/Library/toastify-js/toastify.min.js"></script>
	<script src="~/AdminTemplate/assets/js/main.js"></script>
	<script>
		let Directory = "";
		let Directories=[""];
		let ArryRemoveItem = [""];
		//Open Folder
		function openFile(path) {
			$("#directory-item").html(loading);
	     	$("#backToDirectory").removeClass("d-none");
			$('#remove-files').addClass("d-none");
			Directories.push(path);
			Directory += path;
			getDirectoryList();
		}
		//Back To Directory
		function BackToListDirectoty(){
			$("#directory-item").html(loading);
			$('#remove-files').addClass("d-none");

			Directories.pop();
			if (Directories.length>0)
			{
			Directory=Directories.reduce(function(a,b){

				return a+b;
			})
			if(Directories.length==1)
			{
					$("#backToDirectory").addClass("d-none");
			}
			}
			getDirectoryList();
		}
		//Go to Root
		function goToRoot(){
			$("#directory-item").html(loading);
			            $('#remove-files').addClass("d-none");
			Directory = "";
			getDirectoryList();
			Directories=[""];
		}
		$(document).ready(function () {
			getDirectoryList();
		});
		//Upload files
		function uploadSelect() {
			let input = document.createElement('input');
			//input.accept = 'application/pdf';
			input.multiple = true,
				input.type = 'file';
			input.onchange = () => {
				let files = input.files;
				FrmData = new FormData();
				for (var i = 0; i < files.length; i++) {
					FrmData.append("Files", files[i]);
				}
				FrmData.append("Directory", Directory);
				//upload ajax
				$.ajax({
					type: 'POST',
					url: 'UploadFiles',
					data: FrmData,
					contentType: false,
					processData: false,
					cache: false,
					xhr: function () {
						$('.progress').removeClass("d-none");
						var xhr = new window.XMLHttpRequest();
						xhr.upload.addEventListener('progress', function (e) {
							if (e.lengthComputable) {
								var percentage = Math.round((e.loaded * 100) / e.total);
								$('.progress .progress-bar').css('width', percentage + '%');
								$('.progress .progress-bar').text(percentage + '%');
							}
						}, false);
						return xhr;
					},
					success: function (response) {
						if (response.isSuccess == true) {
							$('.progress').addClass("d-none");
							successToastify.showToast();
							getDirectoryList();
						} else {
							//error
							$('.progress').addClass("d-none");
							dangerToastify.showToast();
						}
					},
					error: function (error) {
						console.log(error);
					}
				});
			}
			input.click();
		}
		//DeleteFile
		//Select For Remove Files Or Directoory
        $(document).on('click','.form-check-input', function (e) {
            $('#remove-files').addClass("d-none");
            ArryRemoveItem = [];
            let directoryItem = $('#directory-item').children();
            $("input:checkbox[name=item]:checked").each(function (index, value) {
                ArryRemoveItem.push($(value).attr('data-name'));
            });
            if (ArryRemoveItem.length > 0) {
                $('#remove-files').removeClass("d-none");
				$('#remove-files').html(`<i data-feather="trash" class="w-4 h-4 ml-2"></i> حذف (${ArryRemoveItem.length})`);
            }
        });
        //Remove Files Or Directoory
        $(document).on('click','#remove-files',function(){
			swal.fire({
				title: 'حذف کاربر',
				text: "کاربر گرامی از حذف آیتم ها مطمئن هستید؟",
				icon: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#d33',
				cancelButtonColor: '#7cacbe',
				confirmButtonText: 'بله ، آیتم حذف شود',
				cancelButtonText: 'خیر'
			}).then((result) => {
				if (result.value) {
               $("#directory-item").html(loading);
					$('#remove-files').addClass("d-none");
					let model = {
						ArryRemoveItem, Directory
					}
					ajaxFunc("RemoveFiles", model, "POST",
						function (result) {
							if (result.isSuccess) {
								successToastify.showToast();
								getDirectoryList();
								$('#remove-files').addClass("d-none");
							} else {
								$('#notify-text-failed').text(result.message);
								dangerToastify.showToast();
								getDirectoryList();
							}
						},
						function (error) {
							console.log(error);
						}
					);
				}
			})
        });
		//GetList
		function getDirectoryList() {
			var model = {
				Directory
			}
			ajaxFunc("GetDirectoryList",model, "POST",
				function (result) {
					if (result.isSuccess) {
						let html = "";
						if(result.data.length>0)
						{
							result.data.map(item => {
								html += `<div class="intro-y col-span-6 sm:col-span-4 md:col-span-3 xxl:col-span-2">
																				<div class="file box rounded-md px-5 pt-8 pb-5 px-3 sm:px-5 relative zoom-in">
																					<div class="absolute left-0 top-0 mt-3 ml-3">
																								<input data-name=${item.name} name="item" class="form-check-input border border-gray-500" type="checkbox">
																					</div>`;
								if (item.fileTypeEnum == 0) {
									html += `<div onclick="openFile('${item.directory}')" class="w-3/5 file__icon file__icon--empty-directory mx-auto"></div>`;
								}
								else if (item.fileTypeEnum == 1) {
									var url = item.baseUrl + item.path;
									html += `<a class="w-3/5 file__icon file__icon--image mx-auto">
																							<div class="file__icon--image__preview image-fit">
																							<img alt="Rubick Tailwind HTML Admin Template" src=${url}>
																							</div>
																								</a>`;

								}
								else {
									html += `<a  class="w-3/5 file__icon file__icon--file mx-auto">
																							<div class="file__icon__file-name">${item.postfix}</div>
																								</a>`;
								}
								if (item.size != 0) {
									if (item.size < 1024) {
										html += `<div class="text-gray-600 text-xs text-center mt-0.5" >${item.size} کیلوبایت</div>`;
									}
									else {
										let mg = Math.round(item.size / 1024);
										html += `<div class="text-gray-600 text-xs text-center mt-0.5">${mg} مگابایت</div>`;
									}
								}
								html += `<a class="block font-medium mt-4 text-center truncate">${item.name}</a>
																			<div class="absolute top-0 right-0 mr-2 mt-3 dropdown ml-auto">
																				<a class="dropdown-toggle w-5 h-5 block" href="javascript:;" aria-expanded="false" data-tw-toggle="dropdown"> <i data-lucide="more-vertical" class="w-5 h-5 text-slate-500"></i> </a>
																				<div class="dropdown-menu w-40">
																					<ul class="dropdown-content">
																						<li>
																							<a href="" class="dropdown-item"> <i data-lucide="users" class="w-4 h-4 mr-2"></i> Share File </a>
																						</li>
																						<li>
																							<a href="" class="dropdown-item"> <i data-lucide="trash" class="w-4 h-4 mr-2"></i> Delete </a>
																						</li>
																					</ul>
																				</div>
																			</div>
																		</div>
																	</div>`;
							});

						}
						else
						{
							html += `<div class="intro-y text-center col-span-12 sm:col-span-12 md:col-span-12 2xl:col-span-12">آیتمی جهت نمایش وجود ندارد!</div>`
						}
						$("#directory-item").html(html);
					} else {
						console.log("error load");
					}
				},
				function (error) {
					console.log(error);
				}
			);
		}
		let loading =`<div class="intro-y col-span-12 sm:col-span-12 md:col-span-12 2xl:col-span-12">
			<div class="col-span-12 sm:col-span-12 xl:col-span-12 flex flex-col justify-end items-center">
				<svg width="30" viewBox = "0 0 45 45" xmlns = "http://www.w3.org/2000/svg" stroke = "rgb(45, 55, 72)" class="w-8 h-8">
					<g fill="none" fill - rule="evenodd" transform = "translate(1 1)" stroke - width="3">
						<circle cx="22" cy = "22" r = "6" stroke - opacity="0">
							<animate attributeName="r" begin = "1.5s" dur = "3s" values = "6;22" calcMode = "linear" repeatCount = "indefinite"> </animate>
								<animate attributeName = "stroke-opacity" begin = "1.5s" dur = "3s" values = "1;0" calcMode = "linear" repeatCount = "indefinite"> </animate>
									<animate attributeName = "stroke-width" begin = "1.5s" dur = "3s" values = "2;0" calcMode = "linear" repeatCount = "indefinite"> </animate>
										</circle>
										<circle cx = "22" cy = "22" r = "6" stroke - opacity="0">
											<animate attributeName="r" begin = "3s" dur = "3s" values = "6;22" calcMode = "linear" repeatCount = "indefinite"> </animate>
												<animate attributeName = "stroke-opacity" begin = "3s" dur = "3s" values = "1;0" calcMode = "linear" repeatCount = "indefinite"> </animate>
													<animate attributeName = "stroke-width" begin = "3s" dur = "3s" values = "2;0" calcMode = "linear" repeatCount = "indefinite"> </animate>
														</circle>
														<circle cx = "22" cy = "22" r = "8">
															<animate attributeName="r" begin = "0s" dur = "1.5s" values = "6;1;2;3;4;5;6" calcMode = "linear" repeatCount = "indefinite"> </animate>
																</circle>
																</g>
																</svg>
																<div class="text-center text-xs mt-2" > لطفا منتظر بمانید...</div>
																	</div>
																	</div>`;
	//CreateDirectory
		$("#CreateDirectory").on('click', function () {
		var name=prompt("نام پوشه را وارد کنید");
		  var data={Directory,name}
			ajaxFunc("CreateDirectory", data, "POST",
				function (result) {
					if (result.isSuccess) {
						$("#UserForm").trigger("reset");
						successToastify.showToast();
						getDirectoryList();
					} else {
						dangerToastify.showToast();
					}
				},
				function (error) {
					dangerToastify.showToast();
					console.log(error);
				}
			)

		})
	</script>
}
