@{
    Layout = null;
}

<form class="header-form" asp-action="index"   asp-controller="products" method="get">
    <input name="SearchKey" b-96aypqljgj="" onchange="sendParameter(this.value)" type="text" placeholder="نام محصول یا برند یا دسته بندی را وارد کنید">
    <button b-96aypqljgj=""><i b-96aypqljgj="" class="fas fa-search"></i></button>
</form>
