@using Store.Application.Services.UsersAddress.Queries.GetEditAddressUserForSite;
@model EditAddressUserDto;
@{
    Layout = null;
}
<div class="form-group">
    <label class="form-label">شماره تماس</label>
    <input asp-for="PhoneNumber" required  class="form-control" placeholder="شماره تماس خود را وارد کنید" type="number">
</div>
<div class="form-group">
    <label class="form-label">کد پستی</label>
    <input asp-for="PostalCode" required  class="form-control" placeholder="کد پستی خود را وارد کنید" type="number">
</div>
<div class="form-group">
    <label class="form-label">آدرس</label>
    <textarea asp-for="Address" required  class="form-control" placeholder="آدرس خود را وارد کنید"></textarea>
</div>
