@using Microsoft.AspNetCore.Identity
@using Store.Domain.Entities.Users;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManage
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <!--=====================================
                META TAG PART START
    =======================================-->
    <!-- REQUIRE META -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- AUTHOR META -->
    <meta name="author" content="mironcoder">
    <meta name="email" content="mironcoder@gmail.com">
    <meta name="profile" content="https://themeforest.net/user/mironcoder">

    <!-- TEMPLATE META -->
    <meta name="name" content="Greeny">
    <meta name="title" content="Greeny - eCommerce HTML Template">
    <meta name="keywords" content="organic, food, shop, ecommerce, store, html, bootstrap, template, agriculture, vegetables, webshop, farm, grocery, natural, online store">
    <!--=====================================
                META-TAG PART END
    =======================================-->
    <!-- WEBPAGE TITLE -->
    <title>Standard Home - Greeny</title>

    <!--=====================================
                CSS LINK PART START
    =======================================-->
    <!-- FAVICON -->
    <link rel="icon" href="/SiteTemplate/assets//SiteTemplate/assets/images/favicon.png">

    <!-- FONTS -->
    <link rel="stylesheet" href="/SiteTemplate/assets/fonts/flaticon/flaticon.css">
    <link rel="stylesheet" href="/SiteTemplate/assets/fonts/icofont/icofont.min.css">
    <link rel="stylesheet" href="/SiteTemplate/assets/fonts/fontawesome/fontawesome.min.css">

    <!-- VENDOR -->
    <link rel="stylesheet" href="/SiteTemplate/assets/vendor/venobox/venobox.min.css">
    <link rel="stylesheet" href="/SiteTemplate/assets/vendor/slickslider/slick.min.css">
    <link rel="stylesheet" href="/SiteTemplate/assets/vendor/niceselect/nice-select.min.css">
    <link rel="stylesheet" href="/SiteTemplate/assets/vendor/bootstrap/bootstrap.min.css">

    <!-- CUSTOM -->
    <link rel="stylesheet" href="/SiteTemplate/assets/css/main.css">
    <link rel="stylesheet" href="/SiteTemplate/assets/css/home-standard.css">
    <link href="/SiteTemplate/assets/css/custom-toastify.css" rel="stylesheet" />
    <link href="/SiteTemplate/library/toastify-js/toastify.min.css" rel="stylesheet" />
    <link href="/SiteTemplate/library/toastify-js/toastify.css" rel="stylesheet" />
    <!--=====================================
                CSS LINK PART END
    =======================================-->
</head>
<body>
    <div class="backdrop"></div>
    <a class="backtop fas fa-arrow-up" href="#"></a>
    <!--=====================================
                HEADER PART START
    =======================================-->
    <header class="header-part">
        <div class="container">
            <div class="header-content">
                <div class="header-media-group">
                    <button class="header-user"><img src="/SiteTemplate/assets/images/user.png" alt="user"></button>
                    <a href="index.html"><img src="/SiteTemplate/assets/images/logo.png" alt="logo"></a>
                    <button class="header-src"><i class="fas fa-search"></i></button>
                </div>
                @if (SignInManager.IsSignedIn(User))
                {
                    <a href="Profile" class="header-widget" title=@User.Identity.Name>
                        <img src="/SiteTemplate/assets/images/user.png" alt="user">
                    </a>
                    <a asp-action="Logout" asp-controller="Authentication"><span>خروج</span></a>
                }
                else
                {
                    <a href="index.html" class="header-logo">
                        <img src="/SiteTemplate/assets/images/logo.png" alt="logo">
                    </a>
                    <a href="~/authentication/login" class="header-widget" title="My Account">
                        @*                    <img src="/SiteTemplate/assets//SiteTemplate/assets/images/user.png" alt="user">
                    *@                    <span>ورود</span>
                    </a>
                    <div class="header-widget">
                        <span>|</span>

                    </div>
                    <a href="~/authentication/signup" class="header-widget" title="My Account">
                        <span>ثبت نام</span>
                    </a>
                }
               @await Component.InvokeAsync("Search")
                <div class="header-widget-group" >
                    <button class="header-widget header-cart" title="Cartlist" id="viewcomponent-backet">
                     @await Component.InvokeAsync("Backet")
                  </button>
               </div>
            </div>
        </div>
    </header>
    <!--=====================================
                HEADER PART END
    =======================================-->
    <!--=====================================
      <!--=====================================
                    NAVBAR PART START
        =======================================-->
    <nav class="navbar-part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="navbar-content">
                        <ul class="navbar-list">
                            <li class="navbar-item dropdown">
                                <a class="navbar-link dropdown-arrow" href="#">خانه</a>
                                <ul class="dropdown-position-list">
                                    <li><a href="home-grid.html">صفحه اصلی گرید</a></li>
                                    <li><a href="index.html">صفحه اصلی</a></li>
                                    <li><a href="home-classic.html">صفحه اصلی کلاسیک</a></li>
                                    <li><a href="home-standard.html">صفحه اصلی استاندارد</a></li>
                                    <li><a href="home-category.html">صفحه اصلی دسته بندی</a></li>
                                </ul>
                            </li>
                            <li class="navbar-item dropdown-megamenu">
                                <a class="navbar-link dropdown-arrow" href="#">فروشگاه</a>
                                <div class="megamenu">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="megamenu-wrap">
                                                    <h5 class="megamenu-title">صفحات فروشگاه</h5>
                                                    <ul class="megamenu-list">
                                                        <li><a href="shop-5column.html">فروشگاه 5 ستون</a></li>
                                                        <li><a href="shop-4column.html">فروشگاه 4 ستون</a></li>
                                                        <li><a href="shop-3column.html">فروشگاه 3 ستون</a></li>
                                                        <li><a href="shop-2column.html">فروشگاه 2 ستون</a></li>
                                                        <li><a href="shop-1column.html">فروشگاه 1 ستون</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="megamenu-wrap">
                                                    <h5 class="megamenu-title">صفحات محصول</h5>
                                                    <ul class="megamenu-list">
                                                        <li><a href="product-tab.html">محصول تک تب</a></li>
                                                        <li><a href="product-grid.html">محصول تک ستون</a></li>
                                                        <li><a href="product-video.html">محصول تک ویدیو</a></li>
                                                        <li><a href="product-simple.html">معرفی محصول</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="megamenu-wrap">
                                                    <h5 class="megamenu-title">اقدامات کاربر</h5>
                                                    <ul class="megamenu-list">
                                                        <li><a href="wishlist.html">لیست علاقه مندی ها</a></li>
                                                        <li><a href="compare.html">مقایسه</a></li>
                                                        <li><a href="checkout.html">تسویه حساب</a></li>
                                                        <li><a href="orderlist.html">تاریخچه سفارش ها</a></li>
                                                        <li><a href="invoice.html">فاکتور سفارش</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="megamenu-wrap">
                                                    <h5 class="megamenu-title">صفحات دیگر</h5>
                                                    <ul class="megamenu-list">
                                                        <li><a href="all-category.html">دسته بندی ها</a></li>
                                                        <li><a href="brand-list.html">لیست برند ها</a></li>
                                                        <li><a href="brand-single.html">معرفی برند</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            @await Component.InvokeAsync("MenuCategory")
                            <li class="navbar-item dropdown">
                                <a class="navbar-link dropdown-arrow" href="#">صفحات</a>
                                <ul class="dropdown-position-list">
                                    <li><a href="faq.html">سوالات متداول</a></li>
                                    <li><a href="offer.html">تخفیفات</a></li>
                                    <li><a href="profile.html">پروفایل من</a></li>
                                    <li><a href="wallet.html">کیف پول من</a></li>
                                    <li><a href="about.html">درباره ما</a></li>
                                    <li><a href="contact.html">ارتباط باما</a></li>
                                    <li><a href="privacy.html">سیاست حفظ حریم خصوصی</a></li>
                                    <li><a href="coming-soon.html">در دست ساخت</a></li>
                                    <li><a href="blank-page.html">صفحه خالی</a></li>
                                    <li><a href="error.html">خطای 404</a></li>
                                    <li><a href="email-template.html">قالب ایمیل</a></li>
                                </ul>
                            </li>
                            <li class="navbar-item dropdown">
                                <a class="navbar-link dropdown-arrow" href="#">احراز هویت</a>
                                <ul class="dropdown-position-list">
                                    <li><a href="~/authentication/login">لاگین</a></li>
                                    <li><a href="~/authentication/signup">ثبت نام</a></li>
                                    <li><a href="reset-password.html">حذف پسوورد</a></li>
                                    <li><a href="change-password.html">تغییر پسوورد</a></li>
                                </ul>
                            </li>
                            <li class="navbar-item dropdown">
                                <a class="navbar-link dropdown-arrow" href="#">بلاگ ها</a>
                                <ul class="dropdown-position-list">
                                    <li><a href="blog-grid.html">بلاگ گریدبندی</a></li>
                                    <li><a href="blog-standard.html">بلاگ استاندارد</a></li>
                                    <li><a href="blog-details.html">اطلاعات بلاگ</a></li>
                                    <li><a href="blog-author.html">نویسنده وبلاگ</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="navbar-info-group">
                            <div class="navbar-info">
                                <i class="icofont-ui-touch-phone"></i>
                                <p>
                                    <small>شماره تماس</small>
                                    <span>9998 888 021</span>
                                </p>
                            </div>
                            <div class="navbar-info">
                                <i class="icofont-ui-email"></i>
                                <p>
                                    <small>ایمیل ما</small>
                                    <span>support@greeny.com</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!--=====================================
                NAVBAR PART END
    =======================================-->
   @RenderBody()
    <aside class="cart-sidebar" id="viewcomponent-cart">
        @await Component.InvokeAsync("Cart")
    </aside>
    <footer class="footer-part">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xl-3">
                    <div class="footer-widget">
                        <a class="footer-logo" href="#">
                            <img src="/SiteTemplate/assets/images/logo.png" alt="logo">
                        </a>
                        <p class="footer-desc">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                        <ul class="footer-social">
                            <li><a class="icofont-facebook" href="#"></a></li>
                            <li><a class="icofont-twitter" href="#"></a></li>
                            <li><a class="icofont-linkedin" href="#"></a></li>
                            <li><a class="icofont-instagram" href="#"></a></li>
                            <li><a class="icofont-pinterest" href="#"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="footer-widget contact">
                        <h3 class="footer-title">راه های ارتباط</h3>
                        <ul class="footer-contact">
                            <li>
                                <i class="icofont-ui-email"></i>
                                <p>
                                    <span>support@greeny.com</span>
                                    <span>carrer@greeny.com</span>
                                </p>
                            </li>
                            <li>
                                <i class="icofont-ui-touch-phone"></i>
                                <p>
                                    <span>+120 279 532 13</span>
                                    <span>+120 279 532 14</span>
                                </p>
                            </li>
                            <li>
                                <i class="icofont-location-pin"></i>
                                <p>ایران جان ، تهران</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="footer-widget">
                        <h3 class="footer-title">دسترسی سریع</h3>
                        <div class="footer-links">
                            <ul>
                                <li><a href="#">اکانت من</a></li>
                                <li><a href="#">تاریخچه خرید</a></li>
                                <li><a href="#">رهگیری سفارش</a></li>
                                <li><a href="#">بهترین فروش</a></li>
                                <li><a href="#">جدید ترین محصولات</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">لوکیشن</a></li>
                                <li><a href="#">زیرمجموعه گیری</a></li>
                                <li><a href="#">اترابط با ما</a></li>
                                <li><a href="#">قوانین</a></li>
                                <li><a href="#">سوالات متداول</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="footer-widget">
                        <h3 class="footer-title">دانلود اپلیکیشن</h3>
                        <p class="footer-desc">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است!</p>
                        <div class="footer-app">
                            <a href="#"><img src="/SiteTemplate/assets/images/google-store.png" alt="google"></a>
                            <a href="#"><img src="/SiteTemplate/assets/images/app-store.png" alt="app"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="footer-bottom">
                        <p class="footer-copytext">&copy;  تمامی حقوق این سایت متعلق به <a target="_blank" href="#">Mrzic</a></p>
                        <div class="footer-card">
                            <a href="#"><img src="/SiteTemplate/assets/images/payment/jpg/01.jpg" alt="payment"></a>
                            <a href="#"><img src="/SiteTemplate/assets/images/payment/jpg/02.jpg" alt="payment"></a>
                            <a href="#"><img src="/SiteTemplate/assets/images/payment/jpg/03.jpg" alt="payment"></a>
                            <a href="#"><img src="/SiteTemplate/assets/images/payment/jpg/04.jpg" alt="payment"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--=====================================
                  FOOTER PART END
    =======================================-->
    <!--=====================================
                JS LINK PART START
    =======================================-->
    <!-- VENDOR -->
    <script src="/SiteTemplate/assets/vendor/bootstrap/jquery-1.12.4.min.js"></script>
    <script src="/SiteTemplate/assets/vendor/bootstrap/popper.min.js"></script>
    <script src="/SiteTemplate/assets/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="/SiteTemplate/assets/vendor/countdown/countdown.min.js"></script>
    <script src="/SiteTemplate/assets/vendor/niceselect/nice-select.min.js"></script>
    <script src="/SiteTemplate/assets/vendor/slickslider/slick.min.js"></script>
    <script src="/SiteTemplate/assets/vendor/venobox/venobox.min.js"></script>

    <!-- CUSTOM -->
    <script src="/SiteTemplate/library/toastify-js/toastify.min.js"></script>
    <script src="/SiteTemplate/library/toastify-js/toastify.js"></script>
    <script src="/SiteTemplate/assets/js/nice-select.js"></script>
    <script src="/SiteTemplate/assets/js/countdown.js"></script>
    <script src="/SiteTemplate/assets/js/accordion.js"></script>
    <script src="/SiteTemplate/assets/js/venobox.js"></script>
    <script src="/SiteTemplate/assets/js/slick.js"></script>
    <script src="/SiteTemplate/assets/js/main.js"></script>
    <script src="/SiteTemplate/assets/js/cart.js"></script>
    <script src="/SiteTemplate/assets/js/ChangeProvince.js"></script>
    @await RenderSectionAsync("Scripts",required:false)
    <!--=====================================
                JS LINK PART END
    =======================================-->
</body>
</html>







