@{
    Layout = null;
}
<label class="form-label">انتخاب استان</label>
<select id="input-province" onchange="changeprovince()" name="province" asp-items="ViewBag.province" class="form-select">
</select>