@using Store.Application.Services.Carts;
@model BacketDto
@{
    Layout = null;
}
<i class="fas fa-shopping-basket"></i>
<sup>@Model.ProductCount+</sup>
<span>قیمت کل<small>@Model.SumAmount.ToString("n0") @Model.Unit</small></span>

